<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OwenYangProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41C767BF1CD20E7900368AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C767D81CD20E7A00368AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41C767E31CD20E7A00368AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
